body {
    background-color: rgb(230, 230, 236);
    }

header {
    text-align: center;
    padding: 0 0 20px 0;
    width: 100%; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
    font-size: large;
    text-align: end;
    
}

h2 {
    margin-left: 20px;
}

/*search bar*/
.search {
    padding: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/*search button*/
.submit {
    padding: 12px;
    margin-left: 2px;
}

footer {
    text-align: center;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }