body {
    background-color: rgb(230, 230, 236);
    }

header {
    text-align: center;
    width: 100%; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
    font-size: large;
    text-align: end;
    
}

h2 {
    margin-left: 90px;
}

/*search bar*/
.search {

    padding: 15px;
    margin-left: 100px;
    margin-bottom: 10px;
}

/*search button*/
button {
    padding: 15px;
    margin-left: 2px;
}

.search-results {
    margin-left: 90px;
}


/* Set the size of the div element that contains the map */
#map {
    height: 500px;
    /* The height is 400 pixels */
    width: 50%;
    /* The width is the width of the web page */
    margin-left: 45%;
      
    
  }

.banner {
    width: 100%;
    display: block;
}

.banner > .banner-image {
    width:100% ;
    height: 300px;
    opacity: .75;
    margin-bottom: 30px;
    display: block;
}

footer {
    text-align: center;
<<<<<<< HEAD
}

<<<<<<< HEAD
/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
=======
.tile {
    
}
>>>>>>> f18be72cd42853a6e7d219556535ff8b57a874b1
=======
    font-size: larger;
}
>>>>>>> 53ee48a668fe251beedd2903eda64a6212af572c
